.thumbnails {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  height: 800px;
  width: 500px;
  border: 1px solid green;
}

.thumbnail {
  width: 75px;
  height: 75px;
  border: 1px solid black;
}
